@font-face {
  font-family: 'Roboto-Regular';
  src: local(bttf_font), url('/assets/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} 

@font-face {
  font-family: 'Roboto-Bold';
  src: local(bttf_font), url('/assets/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local(bttf_font), url('/assets/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: local(bttf_font), url('/assets/roboto/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} 

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: local(bttf_font), url('/assets/roboto/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Light';
  src: local(bttf_font), url('/assets/roboto/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
